<div class="row">
  <div class="col col-md-7 mx-auto">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h3 class="text-center my-3">Employees</h3>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-end mb-2">
          <%= link_to new_employee_path, class: "btn btn-primary" do %>
            <i class="bi bi-plus-lg"></i> New Employee
          <% end %>
        </div>
        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col" class="d-flex justify-content-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @employees.each_with_index do |employee, index| %>
                <tr>
                  <th scope="row"><%= index+1 %></th>
                  <td><%= link_to employee.name, employee, class: "btn btn-link" %></td>
                  <td class="d-flex justify-content-center gap-1">
                    <%= link_to edit_employee_path(employee), class: "btn btn-success" do %>
                      <i class="bi bi-pencil-square"></i> Edit
                    <% end %>
                    <%= link_to employee_path(employee), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" do %>
                      <i class="bi bi-trash"></i> Delete
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

